.box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 30vw;
    height: 24vw;
    
}

.box-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80%;
    
}

.random-buttom {
    margin: auto;
    width: 20%;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 2em;
    color: rgb(0, 0, 0);
    font-weight: 500;
    background-color: rgb(250, 85, 85);
    
}

.random-buttom:hover {
    font-weight: 700;
    
}

.box-item{
    padding: 20px;
}

.re-approve{
    width: auto;
    position: absolute; 
    bottom:3px;
    right: -10px; 
    font-size: 1em;
    font-weight: 500;
    border-color: white;
    color: rgb(0, 0, 0);
    padding: 20;
    color: rgb(250, 85, 85);
}

.approve-contect{
    padding: auto;
    margin: auto;
    float: right;
    position: relative;
    background-color: aqua;
}