.catapult{
    display: block;
    height: 15vw;
    margin-left: auto;
    margin-right: auto;
}

.rubber{
    color: red; 
}



.catapult-name{
    text-align: center;
    font-weight: 700;
}

.catapult-tier{
    color: rgb(255, 0, 0);
}

