.div-buttom {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;

}

.select-buttom {
    padding: 10px;
    text-decoration: none;
    margin-left: 3%;
    color: rgb(255, 254, 254);
    font-weight: 500;
    background-color: rgb(250, 85, 85);
    
}
.select-buttom-active {
    background-color: rgb(136, 130, 130);
  }
