.buttom {
  color: #000;
  background-color: lightgray;
  padding: 10px;
  text-decoration: none;
  margin: auto;
  display: inline-block;
}

/* .entryUnity {
    max-width: 100%;
    width: 100px;
    height: auto;
    margin-left: 860px;
    margin-top: 400px;
    justify-content: center;
    position: relative;
    color: #000;
} */

.play-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.play-content {
  border-radius: 25px;
  background-color: rgb(248, 125, 103);
  max-width: 600px;
  position: relative;
  padding: 20px;
}


.image-content {
  padding: 20px;
  text-align: center;
}

.play-content {
  text-align: center;
}

.playImage {
  padding: 20px;
}