.buttom {
  color: #000;
  background-color: lightgray;
  padding: 10px;
  text-decoration: none;
  margin: auto;
  display: inline-block;
}

.entryUnity {
    max-width: 100%;
    width: 100px;
    height: auto;
    margin-left: 860px;
    margin-top: 400px;
    justify-content: center;
    position: relative;
    color: #000;
}